body {
  background-color: #F4F5F0;

}

nav {
  background: white;
  margin: 0;
  padding: 0;
}

.nav1 h1{
  color: #F46200;
  margin: 0;
  padding: 3% 5%;
}
input {
  width: 20%;
}

.nav2 ul{
  list-style: none;
}
